<div class="page-header">
  <%= link_to new_scrape_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Scrape
  <% end %>
  <h1>Listing scrapes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Url</th>
            <th>Config value</th>
            <th>Read value</th>
            <th>Status</th>
            <th>Last read</th>
            <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @scrapes) do |scrape| %>
            <td><%= scrape.name %></td>
            <td><%= scrape.url %></td>
            <td><%= scrape.config_value %></td>
            <td><%= scrape.read_value %></td>
            <td><%= scrape.status %></td>
            <td><%= scrape.last_read %></td>
            <td><%= link_to 'Scrape', scrape_scrape_path(scrape), method: :post %></td>
            <td><%= link_to 'Show', scrape %></td>
        <td><%= link_to 'Edit', edit_scrape_path(scrape) %></td>
        <td><%= link_to 'Destroy', scrape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
